<footer>
  <div class="parent">
    <div class="child1">
      <h2>Al-Ikhlas</h2>
      <div>
        <p>
          We believe that everyone has the potential to connect with the Quran,
          and we are committed to helping our students reach their full
          potential. If you are looking for a Quranic learning journey that will
          transform your life, then Al-ikhlas is the place for you. <br /><br />
          If you are interested in learning more about Al-ikhlas, please
          <a
            style="
              text-decoration: none;
              color: var(--plant-dark);
              font-weight: bold;
            "
            href="#contact"
            >contact us</a
          >
          today. We would be happy to answer any questions you have and help you
          find the right program for you.
        </p>
      </div>
    </div>
    <div class="child2">
      <h2>Social Media</h2>
      <div>
        <a href="https://www.facebook.com/alikhlas.ins" class="brand">
          <img src="/assets/facebook.svg" alt="youtube" width="25" />
          <h6>@Alikhlas.INS</h6>
        </a>
        <a href="https://www.instagram.com/alikhlas_institute/" class="brand">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png"
            alt="youtube"
            width="25"
          />
          <h6>@Alikhlas_institute</h6>
        </a>
        <a href="https://youtube.com/@AlikhlasInstitute" class="brand">
          <img src="/assets/youtube.svg" alt="youtube" width="25" />
          <h6>@AlikhlasInstitute</h6>
        </a>
        <a href="mailto:support@alikhlas-institute.com" class="brand">
          <img src="/assets/gmail.svg" alt="youtube" width="25" />
          <h6>support@alikhlas-institute.com</h6>
        </a>
      </div>
    </div>
  </div>
</footer>
<footer class="part2">
  Copyright &copy; <span id="yearCopyright"></span>
  <span id="domain"></span>
</footer>
