<footer>
  <div class="parent">
    <div class="child1">
      <h2>Al-Ikhlas</h2>
      <div>
        <p>
          Welcome to Ikhlas.com, a dedicated online platform for Quran and
          Tajweed courses. We are passionate about providing high-quality
          education and resources to help individuals deepen their understanding
          and connection with the Quran. Our mission is to make Quranic studies
          accessible and engaging for Muslims around the world.
        </p>
      </div>
    </div>
    <div class="child2">
      <h2>Social Media</h2>
      <div>
        <a href="https://facebook.com/IkhlasINS" class="brand">
          <img src="/assets/facebook.svg" alt="youtube" width="25" />
          <h6>@IkhlasINS</h6>
        </a>
        <a href="https://youtube.com/@IkhlasINS" class="brand">
          <img src="/assets/youtube.svg" alt="youtube" width="25" />
          <h6>@IkhlasINS</h6>
        </a>
        <a href="mailto:ALIkhlasINS@gmail.com" class="brand">
          <img src="/assets/gmail.svg" alt="youtube" width="25" />
          <h6>ALIkhlasINS@gmail.com</h6>
        </a>
      </div>
    </div>
  </div>
</footer>
<footer class="part2">
  Copyright &copy; <span id="yearCopyright"></span>
  <span id="domain"></span>
</footer>
