/* #scroll-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; /* hide the button by default
  z-index: 1000;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--plant-dark);
  color: white;
  cursor: pointer;
} */

.whatsapp {
  width: 50px;
  height: 50px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 100;
}

.whatsapp::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--primary);
  border-radius: 50%;
  top: 0;
  right: 0;
}

.whatsapp img {
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header .alert {
  background: var(--blue);
  padding: var(--padding);
  text-align: center;
  color: white;
  position: relative;
}

header .alert .close {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

header .alert.palestine {
  background: linear-gradient(black 33%, white 33%, white 66%, #009736 66%);
}

header .alert.palestine::before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-left-width: 22px;
  border-right-width: 22px;
  border-top: 0;
  border-bottom: 40px solid #ed2a35;
  left: -3px;
  top: 0px;
  transform: rotate(90deg);
}

header nav {
  display: flex;
  padding: var(--padding);
  justify-content: space-between;
  align-items: center;
}

header nav .logo {
  color: var(--primary);
  font-weight: bold;
}

header nav a {
  text-decoration: none;
  color: #000;
  padding: 0 10px;
}

header nav a:hover {
  color: var(--primary);
}

/* header nav .whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

header nav .whatsapp img {
  width: 35px;
} */

header nav .login:hover {
  color: var(--primary);
  cursor: pointer;
}

header .landing {
  flex: 1;
  background: var(--Landingbg);
  display: flex;
  align-items: center;
  justify-content: center;
}

header .landing .parent {
  /* padding: var(--padding); */
  display: flex;
  height: 100%;
  position: relative;
}

@media (max-width: 768px) {
  header > .parent {
    justify-content: space-between;
    width: 100%;
  }
  header nav .links {
    display: none;
  }

  header .landing .parent {
    flex-direction: column;
  }
}

header .left {
  width: 50%;
}

@media (max-width: 768px) {
  header .left {
    width: 100%;
    flex: 1;
  }
}

header .right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (max-width: 768px) {
  header .right {
    flex: 1;
  }
}

header .landing .quran {
  max-width: 400px;
  width: 20vw;
  position: absolute;
  z-index: 2;
  right: 15%;
  top: 50%;
  transform: translate(0, -50%);
}

header .landing .mosque {
  opacity: 0.03;
  max-width: 600px;
  width: 30vw;
  z-index: 1;
}

@media (max-width: 768px) {
  header .landing .quran {
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  header .landing .mosque {
    width: 80vw;
  }
}

header .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding);
  gap: 20px;
}

/* sections */
section {
  min-height: 100vh;
}

@media (max-width: 992px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

section .content .parent {
  padding: var(--padding);
}

section .title {
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

section .title .caption {
  font-size: 1.25rem;
  padding: 20px;
  font-weight: bold;
}

section .title .des {
  font-size: 1rem;
}

.more {
  background: var(--secoundry);
  color: white;
  margin-bottom: 170px;
}

.more .parent {
  position: relative;
}

.more .parent .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.more .intro h1 {
  text-align: center;
  font-size: 2rem;
}

.more .intro > .des {
  text-align: center;
  margin-top: 20px;
  color: #ccc;
  font-size: 0.75rem;
  width: 60%;
}

.more .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: calc(100% - 150px);
  gap: 20px;
}

@media (max-width: 768px) {
  .more {
    margin-bottom: 800px;
  }
  .more .cards {
    flex-direction: column;
  }
}

.more .cards .card {
  padding: 20px;
  width: 350px;
  height: 300px;
  background: var(--primary);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
  transition: 0.25s;
}

.more .cards .card:nth-child(2) {
  background: var(--danger);
}

.more .cards .card:last-child {
  background: var(--warning);
}

.more .cards .card:hover {
  transform: translateY(-10px);
}

.more .cards .card .icon span {
  font-size: 3rem;
}

.more .cards .card h2 {
  text-align: center;
}

.more .cards .card .des {
  font-size: 0.75rem;
  text-align: center;
}

/* plans */
section.plans {
  background: url("/assets/clouds.svg");
}

.plans .parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}

.plans .plan-card {
  padding: 20px;
  border-radius: 20px;
  /* background: var(--Landingbg); */
  background: #fff;
  box-shadow: 0 0 5px #ddd;
  margin: 20px;
  max-width: 400px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.plans .plan-card h2 {
  margin: 20px 0;
}

.plans .plan-card ul {
  list-style: circle;
  margin-left: 20px;
}

.plans .plan-card .price {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-top: 20px;
}

.plans .plan-card .price .one .st {
  font-size: 0.75rem;
}

.plans .plan-card .price .one .pay {
  font-weight: bold;
  font-size: 1.5rem;
}

.plans .plan-card .price .one .pay span {
  font-weight: 400;
  font-size: 1rem;
}

/* plans */

/* Courses */
.courses {
  background: url("/assets/clouds.svg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.courses .parent .cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.courses .parent .card {
  background: #fff;
  box-shadow: 0 0 5px #ddd;
  margin: 20px 0;
  width: 400px;
  min-height: 450px;
  border-radius: 20px;
  overflow: hidden;
}

.courses .parent .card .info {
  font-size: 1.25rem;
  padding: var(--padding);
  font-weight: bold;
}

.courses .parent .card .des {
  font-size: 0.75rem;
  padding: 0 var(--padding) var(--padding) var(--padding);
}

.courses .parent .card .btn {
  font-size: 0.75rem;
  margin: 0 var(--padding) var(--padding) var(--padding);
  
}

.courses .parent .card img {
  width: 100%;
  transform: scale(0.8);
}
/* Courses */

/* video */
.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video iframe {
  border-radius: 10px;
}

@media (max-width: 380px) {
  .video iframe {
    width: 300px !important;
    height: 168.75px !important;
  }
}

@media (max-width: 580px) {
  .video iframe {
    width: 380px !important;
    height: 213.75px !important;
  }
}

@media (min-width: 1200px) {
  .video iframe {
    width: 700px !important;
    height: 393.75px !important;
  }
}

/* contact */
.contact {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .parent {
  display: flex;
  height: 100%;
}

@media (max-width: 1100px) {
  .contact .parent {
    flex-direction: column; /* moblie responsive */
    gap: 50px;
  }
}

.contact .right {
  display: flex;
  flex-direction: column;
}

.contact .right,
.contact .left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.contact .right .form {
  width: 450px;
  background: var(--Landingbg);
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1100px) {
  canvas {
    width: 250px !important;
    height: 250px !important;
  }

  .contact .right .form {
    width: 70vw;
    max-width: 450px;
  }
}

@media (max-width: 767px) {
  .g-recaptcha {
    transform: scale(0.8);
  }
}

/* footer */
footer {
  background: var(--Landingbg);
  text-align: left;
  padding: 30px;
}

footer .parent {
  display: flex;
}

.child2 {
  flex-basis: 33.33%;
}

.child1 {
  flex-basis: 66.66%;
}

.child1,
.child2 {
  display: flex;
  flex-direction: column;
}

footer .child1 p {
  padding-right: 20px;
  opacity: 0.7;
  margin: 20px 0px;
}

.child2 > div,
.child1 > div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}

.child2 > div a {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  margin: 20px 0px;
}

.child2 > div a h6 {
  margin-left: 20px;
}

@media (max-width: 450px) {
  footer .parent {
    flex-direction: column;
  }
}

footer.part2 {
  /* border-top: 1px dotted #fff; */
  /* filter: brightness(0.6); */
  background: white;
  text-align: center;
}
