@media (max-width: 600px) {
  html {
    font-size: 15px;
  }
}

.banner {
  height: 300px;
  overflow: hidden;
  position: relative;
}

.banner .text {
  position: absolute;
  z-index: 2;
  font-weight: bold;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary);
}

.banner img {
  width: 100vw;
  position: absolute;
}

@media (min-width: 1200px) {
  .banner img {
    width: 100vw;
    position: absolute;
    top: -150%;
  }
}

form {
  border-radius: 20px;
  padding: 20px;
  /* box-shadow: 0 0 10px #ddd; */
}

form .caption {
  padding: 20px;
  text-align: center;
}

form .des {
  margin: 20px 0;
  padding: 0 20px;
  border-left: 3px solid var(--primary);
}

form .title {
  border: 0;
  font-weight: bold;
  font-size: 1.5rem;
}

form input,
form textarea,
form select {
  width: 100%;
  margin: 10px 0;
  border: 3px solid #ced4da;
}

form input:focus,
form textarea:focus,
form select:focus {
  margin: 10px 0;
}

select optgroup {
  background: var(--plant-dark);
  color: white;
}

select option:nth-child(even) {
  background: #eee;
  color: black;
}

select option:nth-child(odd) {
  background: #fff;
  color: black;
}

form .group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

form .group-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

form .group-3 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

@media (max-width: 767px) {
  form .group,
  form .group-2,
  form .group-3 {
    display: block;
  }
}

textarea {
  display: block;
  width: 100%;
}

button {
  width: 100%;
  margin-top: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}