header {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 450px;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px #eee;
}

.right {
  background: var(--Landingbg);
}

canvas {
  height: 100%;
}

@media (max-width: 1200px) {
  .left {
    display: none;
  }
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button.btn {
  width: 100%;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary);
}
